.buttoncontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.buttoncontainer > button > img{
    height: 30px;
    width: 30px;
}

.buttoncontainer > button {
    padding: 6px;
    border: none;
    background-color: whitesmoke;
    transition: 0.2s;
}

button:disabled{
    filter: brightness(60%);
}

button:hover{
    filter: brightness(60%);
}

.dark > button{
    background-color: #131313;
}

.dark > button > img {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(15deg) brightness(103%) contrast(101%);
}