
.form{
    display: grid;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 16px;
}

.form > label {
    display: flex;
    align-items: center;
    gap: 16px;
}

.form > label > select {
    width: 172px;
    height: 22px;
}

.form > input[type="submit"] {
    width: auto;
    height: 2rem;
    font-size: larger;
}