.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 15vh;
    background-color: rgba(193, 231, 110, 1);
}

.logocontainer > img{
    height: 40px;
    width: 40px;
}

.title{
    font-size: 3rem;
    font-weight: 800;
}