.container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    align-items: center;
    gap: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.dark{
    background-color: #131313;
    color: white;
}